/* Login page css */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5179d8, #427edf);
}

.auth-card {
  background: #ffffff;
  padding: 30px 25px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #0f172a;
}

.auth-input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.auth-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}

.auth-btn {
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background-color: #2563eb;
}

.auth-text {
  margin-top: 15px;
  font-size: 14px;
}

.auth-text a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
}

.auth-text a:hover {
  text-decoration: underline;
}

.text-danger {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
